/* Why `source(none)` below ? https://github.com/phoenixframework/phoenix/pull/6109#discussion_r1993092360 */
@import "tailwindcss" source(none);

@source "../css";
@source "../js";
@source "../../lib/toolbox_web";

@plugin "@tailwindcss/forms";
@plugin "../vendor/heroicons.js";

@custom-variant phx-click-loading ([".phx-click-loading&", ".phx-click-loading &"]);
@custom-variant phx-submit-loading ([".phx-submit-loading&", ".phx-submit-loading &"]);
@custom-variant phx-change-loading ([".phx-change-loading&", ".phx-change-loading &"]);

:root {
  color-scheme: light dark;

  --color-stroke-source: #C0C0C0;
  --color-primary-text-source: #161616;
  --color-secondary-text-source: #5D5D5D;
  --color-surface-source: white;
  --color-surface-alt-source: #FCFDFD;
  --color-divider-source: #C0C0C0;
  --color-background-source: #F6F8F9;
  --color-chip-bg-source: white;
  --color-chip-bg-exact-match-source: #3F2754;
  --color-text-secondary-button-source: #8956B7;

  @variant dark {
    --color-stroke-source: #343434;
    --color-primary-text-source: white;
    --color-secondary-text-source: #A2A2A2;
    --color-surface-source: #1D1D1D;
    --color-surface-alt-source: #252525;
    --color-divider-source: #2F2F2F;
    --color-background-source: #161616;
    --color-chip-bg-source: #252525;
    --color-chip-bg-exact-match-source: #3F2754;
    --color-text-secondary-button-source: #A2A2A2;
  }
}

@theme {
  /* Custom fonts fetched in root.html.heex */

  /* The below is the re-definition of tailwindcss `--font-sans` var to include custom fonts prepended to the
   * original talwindcss --font-sans value.
   *
   * Couldn't find a way to actually re-define `--font-sans` more programatically by prepending the value
   * to the original, and not hard-coding the original list.
   */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Bitter", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Space Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-code: "M PLUS 1 Code", monospace;

  /* Light mode colors (default) */
  --color-stroke: var(--color-stroke-source);
  --color-primary-text: var(--color-primary-text-source);
  --color-surface: var(--color-surface-source);
  --color-surface-alt: var(--color-surface-alt-source);
  --color-secondary-text: var(--color-secondary-text-source);
  --color-divider: var(--color-divider-source);
  --color-background: var(--color-background-source);
  --color-chip-bg: var(--color-chip-bg-source);
  --color-chip-bg-exact-match: var(--color-chip-bg-exact-match-source);
  --color-text-secondary-button: var(--color-text-secondary-button-source);

  --color-violet: #6B3F8F;
  --color-button-primary: #975EC9;
  --color-button-primary-hover: #8450B3;
  --color-button-primary-focus: #7A44AA;

  --color-accent: #975EC9;
  --color-dark-purple: rgba(33, 16, 90, 0.15);
  --color-error: #FDE8E7;

  --color-primary-900: #3F2754;
  --color-primary-800: #53346F;
  --color-primary-700: #6B438F;
  --color-primary-600: #8956B7;
  --color-primary-500: #975EC9;
  --color-primary-400: #AC7ED4;
  --color-primary-300: #B993DB;
  --color-primary-200: #CFB5E6;
}

html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

[data-phx-main] {
  height: 100%
}

mark {
  background: transparent;
}

/* This file is for your main application CSS */
.show-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: transparent;
}

.show-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 3px
}
